<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="./css/main.css">
</head>
<body>
	<div class="col-md-4 col-md-offset-4">
		<div>
			
		</div>
		<div>
			<center>
                <h2>Profile Detail</h2>
                <br>
				<table class="table table-hover text-center">
					<tr><td>Name </td><td><%= garage.name %></td></tr>
					<tr><td>location </td><td><%= garage.location %></td></tr>
					<tr><td>Phone Number </td><td><%= garage.phoneNumber %></td></tr>
					<tr><td>Website </td><td><%= garage.website %></td></tr>
					<tr><td>Rating </td><td><%= garage.overallRating %></td></tr>
				</table>
                <div class="abc">
                    <a href="/user">Back</a>
                </div>
			</center>

		</div>
		
	</div>
</body>
</html>